* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
 
img {
    border: 0;
    vertical-align: top;
}
 
li {
    list-style: none;
}
 
input, textarea {
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 
input, textarea, select {
    border: 0;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
 
button, input[type="submit"] {
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
 
a {
    touch-callout: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
 
i, em {
    font-style: normal;
}
 
textarea {
    resize: none;
}
 
button::-moz-focus-inner,
input::-moz-focus-inner,
textarea::-moz-focus-inner {
    border: 0;
    padding: 0;
}
html{
    height:100%;
    width:100%;
    overflow: hidden;
}
body {
    height: 100%;
    width:100%;
    background: #fff;
    font-family:sans-serif;
    overflow: hidden;
}